config.php

cache/css/*
!cache/css/index.htm
cache/javascript/*
!cache/javascript/index.htm
cache/rss/*
!cache/rss/index.htm
cache/templates/*
!cache/templates/index.htm


admin/cache/css/*
!admin/cache/css/index.htm
admin/cache/javascript/*
!admin/cache/javascript/index.htm
admin/cache/templates/*
!admin/cache/templates/index.htm

logs/*
!logs/index.htm

temp/*
!temp/index.htm

images/desktop/announcements/*
!images/desktop/announcements/index.htm
images/desktop/avatars/*
!images/desktop/avatars/index.htm
images/desktop/banners/*
!images/desktop/banners/index.htm
images/desktop/blocks/*
!images/desktop/blocks/index.htm
images/desktop/categories/*
!images/desktop/categories/index.htm
images/desktop/menus/*
!images/desktop/menus/index.htm
images/desktop/pages/*
!images/desktop/pages/index.htm
images/desktop/tags/*
!images/desktop/tags/index.htm

images/tablets/announcements/*
!images/tablets/announcements/index.htm
images/tablets/avatars/*
!images/tablets/avatars/index.htm
images/tablets/banners/*
!images/tablets/banners/index.htm
images/tablets/blocks/*
!images/tablets/blocks/index.htm
images/tablets/categories/*
!images/tablets/categories/index.htm
images/tablets/menus/*
!images/tablets/menus/index.htm
images/tablets/pages/*
!images/tablets/pages/index.htm
images/tablets/tags/*
!images/tablets/tags/index.htm

images/smartphones/announcements/*
!images/smartphones/announcements/index.htm
images/smartphones/avatars/*
!images/smartphones/avatars/index.htm
images/smartphones/banners/*
!images/smartphones/banners/index.htm
images/smartphones/blocks/*
!images/smartphones/blocks/index.htm
images/smartphones/categories/*
!images/smartphones/categories/index.htm
images/smartphones/menus/*
!images/smartphones/menus/index.htm
images/smartphones/pages/*
!images/smartphones/pages/index.htm
images/smartphones/tags/*
!images/smartphones/tags/index.htm



media/announcements/*
!media/announcements/index.htm
media/avatars/*
!media/avatars/index.htm
media/banners/*
!media/banners/index.htm
media/blocks/*
!media/blocks/index.htm
media/categories/*
!media/categories/index.htm
media/documents/*
!media/documents/index.htm
media/menus/*
!media/menus/index.htm
media/newsletters/*
!media/newsletters/index.htm
media/pages/*
!media/pages/index.htm
media/tags/*
!media/tags/index.htm
media/widgets/*
!media/widgets/index.htm


uploads/avatars/*
!uploads/avatars/index.htm
uploads/files/*
!uploads/files/index.htm
