.venus-read-more-start, .venus-read-more-end, .venus-page-break
{
	border-bottom: 2px dashed #D02D26;
	border-style: none none dotted;
	margin: 5px 0;
	height: 2px;
	display: inline-block;
	width: 100%;
}

.venus-read-more-end
{
	border-bottom: 2px dashed #396B16;
}

.venus-page-break
{
	border-bottom: 3px solid #1B1B1B;
	height: 3px;
}