* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 17px;
	background: #252525 url('../images/background.jpg');
	color: #030305;
}

/******************************************************************/

img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
}

hr {
	margin: 10px 0;
	border: none;
	border-top: 1px solid #b7b7b7;
}

label {
	cursor: pointer;
}

/******************************************************************/

#container {
	margin: 0 auto 60px auto;
	padding: 20px;
	width: 98%;
	border-radius: 7px;
	background: #F5F5F5 linear-gradient(#F5F5F5, #F3F3F3);
}

/*
#content-inner {
	clear: both;
}

#content-inner main {
	border-top-left-radius: 0;
}*/

main {
	background: #fff;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	margin-bottom: 10px;
	float: left;
	width: 80%;
	padding: 25px 20px;
}

main.open {
	width: calc(100% - 80px);
}

main.full {
	width: 100%;
}

aside {
	float: right;
	width: calc(20% - 20px);
	padding: 20px 20px;
	background: #fff;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
}

aside.closed {
	width: 60px;
}