nav {
	width: 100px;
	height: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	background: #121212;
	position: fixed;
	padding: 20px 0;
	text-align: center;
}

nav ul img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

nav ul li {
	padding: 20px 0 10px 0;
	margin: 0;
	list-style: none;
}

nav ul li:hover {
	background: #343434;
}

nav ul li a {
	color: #fff;
	display: block;
}

nav ul li a:hover {
	text-decoration: none;
}

/*nav {
	padding: 3px 50px 4px 5px;
	text-align: left;
	z-index: 10000;
}*/

/*nav img {
	margin-right: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	z-index: 10000;
}

nav li {
	position: relative;
	float: left;
	margin-left: 1px;
	padding: 0;
	list-style: none;
}

nav li.separator {
	height: 1px;
	width: 210px;
	float: left;
	margin: 4px 0;
	background: #808080;
}

nav li.separator span {
	display: block;
	height: 1px;
	background: #adadad;
	margin-top: 3px;
}

nav a {
	color: #fff;
	font-weight: bold;
	padding: 5px 20px;
	display: block;
	background: #D02416 linear-gradient(#D02416, #E5160A);
}

nav a:hover {
	text-decoration: none;
	background: #393939 linear-gradient(#393939, #838282);
}

nav ul ul {
	display: none;
	width: 210px;
	position: absolute;
	top: 27px;
	left: 0;
	background: #393939 linear-gradient(to right, #393939, #838282);
	margin: 0;
	padding: 0;
	z-index: 200;
	font-size: 0.9em;
}

nav li ul > li {
	float: left;
 	text-align: left;
 	margin: 0;
 	padding: 0;
}

nav li ul > li a {
	color: #fff;
	font-weight: bold;
	width: 210px;
	padding: 8px 0 5px 10px;
	background: #393939 linear-gradient(to right, #393939, #878586);
}

nav li ul> li a:hover {
   text-decoration: none;
 	background: #d2332c linear-gradient(to right, #d2332c, #d2524c);
}

nav ul li:hover > ul {
	display: block;
}

nav .toggle-menu {
	display: none;
	background: none;
	margin-top: 2px;
}

nav .toggle-menu:hover {
	background: none;
}

nav .toggle-menu span {
	display: block;
	width: 23px;
	height: 3px;
	background: #fff;
	margin-bottom: 4px;
}*/