article
{
	margin-bottom: 10px;
}

article > section
{
	display: table;
	table-layout: fixed;
	width: calc(100% + 20px);
	margin: 0 -10px 15px -10px;
	padding-top: 10px;
	border-spacing: 10px 0;
}

article > section > div
{
	border: 1px solid #b7b7b7;
	padding-bottom: 20px;
}

article > section > div:first-child
{
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

article > section > div:last-child
{
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

article > section h3
{
	font-size: 1.2em;
	border-bottom: 1px solid #b7b7b7;
	margin: 0;
	padding: 8px 20px;
	text-align: left;
	background: #efefef linear-gradient(#efefef, #e1e1e1);
	color: #030305;
}

article > section > div.empty
{
	border: 0;
}

article section div.block
{
	width: 100%;
	padding: 0 0 15px 0;
}

article > section > div.block > div
{
	padding: 0 20px;
}

article > section > div.block h3
{
	margin-left: 0;
	margin-right: 0;
}