.full{
	width: 100%;
}

.three-fourths{
	width: 75%;
}

.half{
	width: 50%;
}

.one-third{
	width: 33.33%;
}

.one-fourth{
	width: 25%;
}

.middle{
	margin: 0 auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.left {
 	text-align: left;
}

.center {
 	text-align: center;
}

.right {
 	text-align: right;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.clear,
.clearfix {
	clear:both;
}

.disabled {
	pointer-events: none;
	opacity: 0.7;
}