@media (max-width: 576px) {
  .full-xs{
		width: 100%;
	}

	.three-fourths-xs{
		width: 75%;
	}

	.half-xs{
		width: 50%;
	}

	.one-third-xs{
		width: 33.33%;
	}

	.one-fourth-xs{
		width: 25%;
	}

	.middle-xs{
		margin: 0 auto;
	}

	.pull-left-xs {
		float: left;
	}

	.pull-right-xs {
		float: right;
	}

	.left-xs {
	 	text-align: left;
	}

	.center-xs {
	 	text-align: center;
	}

	.right-xs {
	 	text-align: right;
	}

	.visible-xs {
		display: block;
	}

	.hidden-xs {
		display: none;
	}
}

@media (min-width: 576px) {
   .full-sm{
		width: 100%;
	}

	.three-fourths-sm{
		width: 75%;
	}

	.half-sm{
		width: 50%;
	}

	.one-third-sm{
		width: 33.33%;
	}

	.one-fourth-sm{
		width: 25%;
	}

	.middle-sm{
		margin: 0 auto;
	}

	.pull-left-sm {
		float: left;
	}

	.pull-right-sm {
		float: right;
	}

	.left-sm {
	 	text-align: left;
	}

	.center-sm {
	 	text-align: center;
	}

	.right-sm {
	 	text-align: right;
	}

	.visible-sm {
		display: block;
	}

	.hidden-sm {
		display: none;
	}
}

@media (min-width: 768px) {
   .full-md{
		width: 100%;
	}

	.three-fourths-md{
		width: 75%;
	}

	.half-md{
		width: 50%;
	}

	.one-third-md{
		width: 33.33%;
	}

	.one-fourth-md{
		width: 25%;
	}

	.middle-md{
		margin: 0 auto;
	}

	.pull-left-md {
		float: left;
	}

	.pull-right-md {
		float: right;
	}

	.left-md {
	 	text-align: left;
	}

	.center-md {
	 	text-align: center;
	}

	.right-md {
	 	text-align: right;
	}

	.visible-md {
		display: block;
	}

	.hidden-md {
		display: none;
	}
}

@media (min-width: 992px) {
	.full-lg{
		width: 100%;
	}

	.three-fourths-lg{
		width: 75%;
	}

	.half-lg{
		width: 50%;
	}

	.one-third-lg{
		width: 33.33%;
	}

	.one-fourth-lg{
		width: 25%;
	}

	.middle-lg{
		margin: 0 auto;
	}

	.pull-left-lg {
		float: left;
	}

	.pull-right-lg {
		float: right;
	}

	.left-lg {
	 	text-align: left;
	}

	.center-lg {
	 	text-align: center;
	}

	.right-lg {
	 	text-align: right;
	}

	.visible-lg {
		display: block;
	}

	.hidden-lg {
		display: none;
	}
}

@media (min-width: 1200px) {
	.full-xl{
		width: 100%;
	}

	.three-fourths-xl{
		width: 75%;
	}

	.half-xl{
		width: 50%;
	}

	.one-third-xl{
		width: 33.33%;
	}

	.one-fourth-xl{
		width: 25%;
	}

	.middle-xl{
		margin: 0 auto;
	}

	.pull-left-xl {
		float: left;
	}

	.pull-right-xl {
		float: right;
	}

	.left-xl {
	 	text-align: left;
	}

	.center-xl {
	 	text-align: center;
	}

	.right-xl {
	 	text-align: right;
	}

	.visible-xl {
		display: block;
	}

	.hidden-xl {
		display: none;
	}
}