.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear,
.clearfix {
	clear:both;
}

.left {
 	text-align: left;
}

.center {
 	text-align: center;
}

.right {
 	text-align: right;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
	opacity: 0.7;
}