.pull-left
{
	float: left;
}

.pull-right
{
	float: right;
}

.clear,
.clearfix
{
	clear:both;
}

.left
{
 	text-align: left;
}

.center
{
 	text-align: center;
}

.right
{
 	text-align: right;
}

.visible
{
	display: block;
}

.hidden
{
	display: none;
}

.disabled
{
	pointer-events: none;
	opacity: 0.7;
}

.required:after
{
	content: '*';
	color: #D2342C;
	padding: 0 6px;
}

.close
{
	float: right;
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/x.png');
}

.close-small
{
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url('../images/x-small.png');
}