header {
	text-align: center;
	background: #1c1c1c;
	width: 100%;
	margin: auto;
}

#topbar {
	background: #040301;
	width: 100%;
	height: 35px;
}

#topbar-right {
	padding: 8px 15px 0 0;
	float: right;
}

#topbar-right a {
	margin-left: 15px;
	display: inline-block;
}