footer {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	text-align: center;
	opacity: 0.93;
	width: 100%;
 	margin: 0 auto;
 	padding: 10px 15px;
 	background: #0b0b0b;
 	color: #fff;
	clear: both;
	border-top: 1px solid #646464;
}

footer a {
 	color: #fff;
 	text-decoration: underline;
}








footer .footer-stats
{
	float: right;
	margin-right: 40px;
}

footer .footer-links
{
	float: left;
}

footer .footer-links li.separator
{
	margin: 0;
	border-right: 1px solid #b7b7b7;
	padding: 0 0px 0 10px;
}

footer .footer-links a
{
	text-decoration: none;
	margin-right: 10px;
	text-decoration: underline;
}