/******************************************/

.alert-screen {
	margin: 40px 0;
	border-radius: 5px;
   padding: 40px 10px;
}

.alert-screen p {
	font-size: 1.1em;
	line-height: 1.5em;
}

#error, #permission-denied {
	@error-properties
}

#message {
	@message-properties
}

#redirect {
	@redirect-properties
}

#error .icon {
	background: url('../images/messages/error-big.png') center center no-repeat;
}

#message .icon {
	background: url('../images/messages/message-big.png') center center no-repeat;
}

#permission-denied .icon {
	background: url('../images/messages/permission-denied.png') center center no-repeat;
}

#redirect .content {
	margin-left: 0;
}

/***********************************/

.alert {
	border-radius: 5px;
	font-size: 1.1em;
   padding: 10px 10px;
   margin-bottom: 20px;
}

.alert .close-icon {
   padding: 5px 10px;
   text-align: center;
}

.alert p {
	padding: 5px 0;
}

#errors {
	@error-properties
}

#messages {
	@message-properties
}

#notifications {
	@notification-properties
}

#warnings {
	@warning-properties
}

#errors .icon {
	background: url('../images/messages/error-medium.png') center center no-repeat;
}

#messages .icon {
	background: url('../images/messages/message-medium.png') center center no-repeat;
}

#notifications .icon {
	background: url('../images/messages/notification-medium.png') center center no-repeat;
}

#warnings .icon {
	background: url('../images/messages/warning-medium.png') center center no-repeat;
}