input[type="radio"], input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

input[type="radio"] {
	background: url('../images/input/radio-checked.png') 0 0 no-repeat;
}

input[type="checkbox"] {
	background: url('../images/input/checkbox-checked.png') 0 0 no-repeat;
}

input[type="radio"] + label {
	padding-left: 21px;
   cursor: pointer;
   background: url('../images/input/radio.png') 0 0 no-repeat;
	font-weight: normal;
	margin-right: 14px;
	height: 18px;
	display: inline-block;
}

input[type='radio']:checked + label {
	background: url('../images/input/radio-checked.png') 0 0 no-repeat;
}

input[type="checkbox"] + label {
   cursor: pointer;
   background: url('../images/input/checkbox.png') 0 0 no-repeat;
	font-weight: normal;
	padding-left: 22px;
	display: inline-block;
	height: 16px;
}

input[type="checkbox"] + label:empty {
	padding-left: 16px;
}

input[type="checkbox"]:checked + label {
   background: url('../images/input/checkbox-checked.png') 0 0 no-repeat;
}

input[type="checkbox"]:checked:disabled + label {
	background: url('../images/input/checkbox-disabled.png') 0 0 no-repeat;
}