header.login-header {
	margin-bottom: 25px;
}

header.login-header #topbar {
	background: #000 url('../images/header-top.jpg') no-repeat center top;
}

header.login-header #logo {
	background: #040301;
}