nav
{
	float: left;
	padding: 2px 50px 4px 5px;
}

nav ul
{
	margin: 0;
	padding: 0;
}

nav img
{
	margin-right: 10px;
}

nav li
{
	position: relative;
	float: left;
	margin-left: 1px;
	padding: 2px 0;
	list-style: none;
}

nav a
{
	color: #fff;
	font-weight: bold;
	width: 90px;
	height: 25px;
	padding-top: 4px;
	display: block;
	background: #D02416 linear-gradient(#D02416, #E5160A);
}

nav a:hover
{
	text-decoration: none;
	background: #393939 linear-gradient(#393939, #838282);
}

nav ul ul
{
	display: none;
	width: 210px;
	position: absolute;
	top: 28px;
	left: 0;
	background: #393939 linear-gradient(to right, #393939, #838282);
	margin: 0;
	padding: 0;
	z-index: 200;
	font-size: 0.9em;
}

nav ul ul ul
{
	font-size: 1em;
}

nav li ul > li
{
	float: left;
 	text-align: left;
 	margin: 0;
 	padding: 0;
}

nav li.separator
{
	height: 1px;
	width: 210px;
	float: left;
	margin: 4px 0;
	background: #808080;
}

nav li.separator span
{
	display: block;
	height: 1px;
	background: #adadad;
	margin-top: 3px;
}

nav li ul> li a
{
	color: #fff;
	font-weight: bold;
	width: 210px;
	height: 30px;
	padding: 8px 0 5px 10px;
	background: #393939 linear-gradient(to right, #393939, #878586);
}

nav li ul> li a:hover
{
   text-decoration: none;
 	background: #d2332c linear-gradient(to right, #d2332c, #d2524c);
}

nav ul ul ul
{
	left: 210px;
	top: 0;
}

nav ul li:hover > ul
{
	display: block;
}