*
{
	margin: 0;
	padding: 0;
}

@favcolor = #ff0000;
@favcolor2 = #ffff00;

body
{
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	background: #dedede;
	color: #141414;
	width: 100%;

	background: @favcolor	
}