@tooltip-properties =
{
	background: #464646;
	color: #FFF;
	border: 1px solid #B7B7B7;
}

@entry-list-properties =
{
	background: #464646;
}

@title-properties =
{
	text-align: left;
	background: #79AB31 linear-gradient(#79AB31, #608A21);
	color: #F3F3F3;
}


@dialog-properties =
{
	background: #EAEAEA linear-gradient(#EAEAEA, #EFEFEF);
	color: #030305;
}

@modal-properties =
{
	background: #EAEAEA linear-gradient(#EAEAEA, #EFEFEF);
}

@alert-properties =
{
	background: #EFEFEF;
}

@message-properties =
{
	background: #C4E0A6 linear-gradient(#C4E0A6, #AAD17E);
	color: #2C612D;
	border: 1px solid #8AAF5F;
}

@error-title-properties =
{
	background: #D2342C linear-gradient(#D2342C, #D2514A);
	border-bottom: 1px solid #D2342C;
}

@error-properties =
{
	background: #EDD2D2 linear-gradient(#EDD2D2, #DFBABA);
	color: #B7304C;
	border: 1px solid #DCA7A7;
}

@warning-title-properties =
{
	background: #F5D01F linear-gradient(#F5D01F, #F1D23F);
	border-bottom: 1px solid #F5D01F;
}

@warning-properties =
{
	background: #F9F0C5 linear-gradient(#F9F0C5, #EFE3A6);
	color: #6F5830;
	border: 1px solid #CBBE78;
}

@notification-title-properties =
{
	background: #408BD0 linear-gradient(#408BD0, #4596E0);
	border-bottom: 1px solid #408BD0;
}

@notification-properties =
{
	background: #C7DEF3 linear-gradient(#C7DEF3, #B3D5F2);
	color: #426589;
	border: 1px solid #9ACFEA;
}

@confirm-title-properties =
{
	background: #94794C linear-gradient(#A58B5D, #95794B);
	border-bottom: 1px solid #94794C;
}

@confirm-properties =
{
	background: #E6E1C1;
	color: #0E0E0E;
}

@populate-properties =
{
	background: #212121;
}

@popup-properties =
{
	background: #464646;
	color: #FFF;
}

@redirect-properties =
{
	background: #D7CD91;
}