.pagination
{
	text-align: right;	
	margin-top: 15px;
	margin-bottom: 5px;	
}

.pagination a
{		
	border: 1px solid #ABABAB;
	padding: 4px 10px;
	margin-left: 5px;	
	border-radius: 5px;
}

.pagination a.current
{
   color: #FFF;
   background: #79AB31;
	background: -webkit-linear-gradient(#79AB31, #608A21);
	background: -moz-linear-gradient(#79AB31, #608A21);	
	background: linear-gradient(#79AB31, #608A21);	
}