/*ul
{
	margin: 10px 10px 0 0px;
}

ul ul
{
	margin: 10px 10px 0 20px;
}*/
/*
li
{
	padding: 3px 0;
}*/

ul.list
{
	margin: 0;
}

ul.list li
{
	list-style: none;
	display: inline;
	padding: 0 10px;
}


ul.items li
{
	padding: 8px;
	list-style: none;
}

ul.items a
{
	font-size: 1.15em;
}


ul.order
{
	margin: 10px 0 0 0;
}

ul.order li
{
	list-style: none;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #B7B7B7;
	border-radius: 5px;
	background: #E4E4E4;
}

ul.order span
{
	padding-right: 10px;
}

ul.order span:after
{
	content: '.';
}

ul.order li li
{
	margin-left: 30px;
}