.box
{
	padding: 15px 10px;	
	border: 1px solid #DADADA;	
	border-radius: 6px;	
	background: #FFFFFF;
	background: -webkit-linear-gradient(#FEFEFE, #F9F9F9);
	background: -o-linear-gradient(#FEFEFE, #F9F9F9);
	background: -moz-linear-gradient(#FEFEFE, #F9F9F9);
	background: linear-gradient(#FEFEFE, #F9F9F9);
}

.box-top
{
	border-top: 1px solid #DADADA;	
	padding-top: 10px;
}

.box-bottom
{
	border-bottom: 1px solid #DADADA;
	padding-bottom: 10px;	
}