#dialog-background
{
	position: fixed;
	display: table;
	visibility: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: #fff;
   z-index: 50;
   background: rgba(0,0,0,0.85);
}

#dialog
{
	display: table-cell;
	vertical-align: middle;
}

#dialog-container
{
	text-align: center;
	background: #EFEFEF;
	border-radius: 12px;
	color: #fff;
	display: none;
	min-width: 900px;
	max-width: 1000px;
	width: 75%;
	margin: 0 auto;
}

#dialog-content
{
	padding: 0 10px;
	overflow: auto;
	padding: 0 10px;
}

#dialog-container iframe.dialog
{
	width: 100%;
	border: 0;
}

#dialog-title
{
	padding: 10px 0 7px 0;
	text-align: left;
	border-bottom: 1px solid #DADADA;
	min-height: 24px;
	width: 98%;
	margin: 0 auto;
}

#dialog-title h1
{
	font-size: 1.4em;
	font-weight: bold;
	padding-top: 2px;
	margin: 2px 0;
}

#dialog-title a.close
{
   margin: 0 0 0 15px;
   border-radius: 5px;
}

#dialog-title img.icon
{
	float: left;
	margin: 3px 10px 0 0;
}

#dialog-scroll-top, #dialog-scroll-bottom
{
	height: 35px;
}

#dialog-container #content img
{
	max-width: 100%;
}

/******************************/

#dialog-body
{
	background: #EFEFEF;
	min-width: 900px;
	max-width: 1000px;
}

#dialog-container
{
	padding: 0 5px;
}

#dialog-body #content
{
	margin: 0 auto;
	float: none;
	width: auto;
	padding:0;
	border:0;
	box-shadow: none;
}