div.columns
{
	display: table;
	width: 100%;
	table-layout: fixed;
}

div.columns-row
{
	display: table-row;	
}

div.column
{
	display: table-cell;	
	word-wrap: break-word;	
}

div.column
{
	padding: 5px;
}