.entry-list
{
	position: absolute;
	padding: 5px 15px;
	border-radius: 5px;
	z-index: 100;
	@entry-list-properties
}

.entry-list ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry-list li
{
	margin: 7px 0;
	display: block !important;
}

.entry-list a
{
	text-decoration: none;
}

.entry-list a:hover
{
	text-decoration: underline;
}