#loading-overlay
{
   position: fixed;
   display: table;
   background: rgba(0,0,0,0.7);
   width: 100%;
   height: 100%;
   z-index: 2000;
   text-align: center;
}

#loading-container
{
	display: table-cell;
	vertical-align: middle;
}

#loading-image
{
	box-sizing: content-box;
	display: inline-block;
	width: 128px;
	height: 128px;
	background: #FFF url('../images/loading.gif') no-repeat center center;
	padding: 20px;
}

.loading-small
{
	width: 24px;
	height: 24px;
	background: url('../images/loading-small.gif');
}

.loading-input
{
	background: url('../images/loading-small.gif') no-repeat;
	background-position: right 10px center;
	background-size: auto 80%;
}