#modals-overlay
{
	display: table;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 50;
	background: rgba(0,0,0,0.5);
}

#modals
{
	display: table-cell;
	vertical-align: middle;
	max-width: 100vw;
}

#modal
{
	z-index: 30;
	margin: 0 auto;
	min-width: 500px;
	max-width: 800px;
	width: 70%;
}

.modal
{
	@modal-properties 
}

.modal-title
{
	@title-properties
	padding: 3px 7px;
	border-bottom: 1px solid #B7B7B7;
	min-height: 12px;
}

.modal-title h1
{
	color: #F3F3F3;
	font-size: 1.09em;
	padding-top: 3px;
}

.modal-title a.close
{
   margin: 2px 0 0 15px;
   border-radius: 5px;
}

.modal-title img
{
	float: left;
	margin: 0 10px 0 0;
}

.modal-content
{
	display: table;
	overflow: auto;
	padding: 25px 10px 15px 10px;
	clear: both;
	max-height: 75vh;
	width: 100%;
}

.modal-image
{
	display: table-cell;
	width: 150px;
	height: 64px;
	vertical-align: middle;
}

.modal-text
{
	display: table-cell;
	padding-right: 150px;
	vertical-align: middle;
	text-align: center;
}

.modal-buttons
{
	text-align: center;
	padding: 0 20px 10px 20px;
}

.modal-buttons input
{
	margin-right: 20px;
}

.modal-buttons input:last-child
{
	margin-right: 0;
}