.menu-mobile
{
	display: none;
}

.menu-mobile-container
{
	display: block;
}

#topbar
{
	height: auto;
}

#topbar-right
{
	display: none;
}

.menu-mobile
{
	display: block;
}

.menu-mobile-container
{
	display: none;
}

.menu-mobile a
{
	background: #393939;
	padding: 10px 0 10px 20px;
}