@media only screen 
	and (max-width: 500px) 
{

	#announcements .container
	{
		margin-left: 35%;
	}

	#announcements .image
	{
		width: 33%;	
	}
	
	#announcements .image img
	{
		max-width: 100%;	
	}
	
	.category .category-link
	{
		width: 32%;
		max-width: none;	
	}
	
	.category .category-block,
	.tag .tag-block
	{
		width: 30%;
	}

}